.loading {
	animation-name: blink;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.hide {
	display: none;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.center {
	margin: 0 auto;
}

.right {
	margin-left: auto;
}

.code-box {
	padding: 10px 10px 10px 10px;
	box-shadow: 2px 2px 2px 2px gray;
}

.max-width {
	max-width: 750px;
}

.fit-parent {
	width: 100%;
}

.margin {
	margin: 10px;
}

.current-view {
	border: 2px solid red;
	border-radius: 100%;
}